*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.content{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-columns: 1fr 15fr 1fr;
    grid-row:span 4;
    border: 2px solid black;
}

.content > :nth-child(1){
    grid-column: span 2;
    background-color: white;
    border: inherit;
}

.content > :nth-child(2) > :nth-child(1){
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: inherit;
}

